/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.4/checksums/checksums.lock
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.gradle/vcs-1/gc.properties
/HELP.md
/.gradle/8.4/fileChanges/last-build.bin
